<!DOCTYPE html>
<html>
<head>
  <title>DataEngineering</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>DataEngineering File Uploader</h1>

  <% [:alert, :notice].each do |name| %>
    <%= content_tag :div, flash[name], :id => "flash_#{name}" if flash[name] %>
  <% end %>

  <%= yield %>

</body>
</html>
